*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 174, 174);
    flex-direction: column;
    gap: 20px;
}
.item{
    width: 50%;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px;
    align-items: center;
}
.item p{
}
.icon i{
    font-size: 30px;
    color: #186;
}
.hiddenbox {
    grid-column: 2/3;
    text-align: justify;
    display: none;
}
.hiddenbox p{
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;

}
ul li{
    margin-left: 16px;
    font-size: 20px;
}
.index{
    font-size: 20px;
}


 .hidden{
    display: none;
}
.active .hiddenbox{
    display: block;
}